.remoteHireBlock {
  background-color: #1f1f20;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  .remoteHireContainer {
    min-height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    text-align: center;
    @media screen and (max-width: 652px) {
      justify-content: center;
    }

    .title {
      margin-bottom: 80px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background: #ffb400;
        width: 40px;
        height: 3px;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      & h2 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #fff;
        letter-spacing: 2px;
        @media screen and (max-width: 652px) {
          font-size: large;
          line-height: normal;
          font-weight: bold;
        }
      }

      & h2 span {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #ffb400;
        @media screen and (max-width: 652px) {
          font-size: large;
          line-height: normal;
          font-weight: bold;
        }
      }
    }

    .hire {
      text-decoration: none;
      background-color: #1f1f20;
      border-radius: 0.5em;
      color: #e74c3c;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      height: 40px;
      width: 90px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        color: black;
        outline: 0;
      }
      &:focus {
        color: black;
        outline: 0;
      }
    }
    .super {
      border-color: #1f1f20;
      color: #ffb400;
      box-shadow: 0 0 5px 5px #ffb400 inset, 0 0 0 0 #ffb400;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
      &:hover {
        background-color: #ffb400;
        color: #1f1f20;
        box-shadow: 0 0 20px 0 black inset, 0 0 10px 6px black;
      }
    }
  }
}






