.contactsBlock {
    background-color: darksalmon;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactsContainer {
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.title {
    font-size: x-large;
    font-weight: bold;
    background-color: #eeeef5;
    border: 1px solid;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form input {
    min-width: 250px;
    min-height: 20px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.form textarea {
    min-width: 250px;
    min-height: 70px;
    border-radius: 7px;
}

.sendButton {
    background-color: lightcyan;
    border-radius: 12%;
}

.sendButton:hover {
    background: #cb89ff;
    color: white;
}

@media screen and (max-width: 360px) {
    .form input {
        min-width: 160px;
        min-height: 10px;
    }
    .form textarea {
        min-width: 160px;
        min-height: 40px;
    }
}