@import "./../common/styles/sass/variables.scss";

.contactsBlock {
  background-color: $bgSecondColor;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  .contactsContainer {
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .title {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background: $primaryColor;
        width: 40px;
        height: 3px;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      & h2 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: $textColor;
        letter-spacing: 2px;
        @media screen and (max-width: 652px) {
          font-size: large;
          line-height: normal;
          font-weight: bold;
        }
      }

      & h2 span {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: $primaryColor;
        @media screen and (max-width: 652px) {
          font-size: large;
          line-height: normal;
          font-weight: bold;
        }
      }
    }
  }
  .mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .phone {

  }
}














