.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1018px) {
    .container {
        justify-content: center;
    }
}
@media screen and (max-width: 1098px) {
    .container {
        flex-direction: column;
    }
}