$textColor: #fff;
$warmGray: #f3f2ef;
$lightGray: #d3d3d3;
$darkWhite: #e6e6e6;
$foggyWhite: #F5F5F5;
$coolGray: #737373;
$lightBlue: #eafaff;
$oceanBlue: #3B878C;
$primaryColor: #ffb400;
$bgColor: #1f1f20;
$bgSecondColor: #212121;
$darkBlack: #1a1a1d;
$fontFamilyText: 'Poppins', sans-serif;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xLarge: 1280px;
$xxLarge: 1380px;