.footerBlock {
    background-color: lightgreen;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerContainer {
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.title {
    font-size: large;
    font-weight: bold;
    background-color: gainsboro;
    border: 1px solid;
}

.footer {
    width: 60%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    text-align: center;
}

.footer a {
    width: 35px;
    height: 35px;
    background-color: yellow;
    color: darkmagenta;
    border: 1px darkmagenta solid;
    text-decoration: none;
}

.footer a:hover {
    background-color: darkmagenta;
    color: yellow;
    border: 1px yellow solid;
}

.rights {
    font-size: small;
    background-color: lightgoldenrodyellow;
    color: darkmagenta;
    border: 1px darkmagenta solid;
}