.projectsBlock {
    min-height: 100vh;
    background-color: #cb89ff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 40px;
    box-sizing: border-box;
    text-align: center;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #eeeef5;
    border: 1px solid;
}

